#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#spritelab{
    
    background-color:aqua
}

#spritelab img{
    height:300px;
    margin-top: 35px;
}